<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="http://localhost:3000/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <!-- Navbar dapat diambil dari getbootstrap -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Toko Online</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Keranjang</a>
                    </li>
                    <!-- tambahkan form pencarian yang mengarah ke route/search menggunakan method get -->
                    <form action="/search" method="get" class="d-flex mb-3">
                        <input type="text" name="q" class="form-control me-2" placeholder="Cari produk..." 
                        value="<%= typeof query !== 'undefined' ? query : '' %>">
                        <button type="submit" class="btn btn-primary">Cari</button>
                        <!-- Logika Filtering jika query kosong maka tampilkan semua produk, jika ada query maka filter berdasarkan nama produk (gunakan inludes ubah ke lowercase) -->
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    
    <%- body %>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>